{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
ACCORDION COMPONENT
----------------------------------------------------------------------------------------------------------------------

This component is used to create an accordion (also called as collapsible). It internally uses the "details" HTML
tag so that it can also be used without any JavaScript.

********************************************
Supported parameters
********************************************

* title: the title to use for the toggle button
* icon: an optional icon attached to the title
* content: the hidden content inside the accordion
* open: if set to true the accordion is open by default
* size: if set to "lg", the font is and spacing is bigger
* class: any additional class
* id: an optional ID for the accordion
{%- endcomment -%}

<details {% if id %}id="{{ id | escape }}"{% endif %} class="format-list"{{ block.shopify_attributes }}>
  <summary>
    {%- comment -%}iOS 14 does not support flex on the summary itself, so we have to use this extra div{%- endcomment -%}
    <div class="fd__title">
      <div class="fd__title-wrapper">
        <div class="fd__title-content">
          {%- if image != blank -%}
            {{- image | image_url: width: image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 160px, 285px', widths: '200,300,400,500,600,700,800,900,1000,1200', class: 'format-image' -}}
          {%- else -%}
            {{- 'image' | placeholder_svg_tag: 'placeholder' -}}
          {%- endif -%}
          {{- title | escape -}}
        </div>
      </div>
    </div>

    <div class="fd__content">
      {{- content -}}
    </div>
  </summary>
</details>