{%- assign text_position = section.settings.text_position -%}

<style>
  .format__file-item {
    width: 100%;
  }

  .shopify-section--format-file .section {
    --container-max-width: 1440px;
    max-width: var(--container-max-width);
    margin: 0 auto;
  }
  
  @media screen and (min-width: 678px) {
    .format__file-item {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 1150px) {
    .section-format__content {
      height: 1280px;
    }

    .format__file-item {
      width: calc((100% - 64px)/3);
    }
  }
</style>

<div {% render 'section-properties' %}>
    <div class="section-format__title text-center">
        {%- if section.settings.title != blank -%}
          <h2 class="h2">
            {%- render 'styled-text', content: section.settings.title -%}
          </h2>
        {%- endif -%}
  
        {%- if section.settings.content != blank -%}
            {{- section.settings.content -}}  
        {%- endif -%}
    </div>
    
    <div class="section-format__content">
      <div class="section-format__content-inner mobile">
        {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
                <div class="format__file-item">
                {%- if block.settings.title != blank  -%}
                    <div class="format__file-label">
                        {{ block.settings.title }}
                    </div>
                {%- endif -%}
                {%- if block.settings.content != blank  -%}
                    <div class="format__file-content">
                      <div class="format__file-content-inner">
                        {{- block.settings.content -}}
                      </div>
                    </div>
                {%- endif -%}
                </div>
            {%- endfor -%}
        {%- endif -%}
      </div>
      <div class="section-format__content-inner desktop">
        {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 2 %}
              {% if mod == 0 %}{% continue %}{% endif %}
                <div class="format__file-item">
                {%- if block.settings.title != blank  -%}
                    <div class="format__file-label">
                        {{ block.settings.title }}
                    </div>
                {%- endif -%}
                {%- if block.settings.content != blank  -%}
                    <div class="format__file-content">
                      <div class="format__file-content-inner">
                        {{- block.settings.content -}}
                      </div>
                    </div>
                {%- endif -%}
                </div>
            {%- endfor -%}
        {%- endif -%}
      </div>
      <div class="section-format__content-inner desktop">
        {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              {% assign mod = forloop.index | modulo: 2 %}
              {% if mod != 0 %}{% continue %}{% endif %}
                <div class="format__file-item">
                {%- if block.settings.title != blank  -%}
                    <div class="format__file-label">
                        {{ block.settings.title }}
                    </div>
                {%- endif -%}
                {%- if block.settings.content != blank  -%}
                    <div class="format__file-content">
                      <div class="format__file-content-inner">
                        {{- block.settings.content -}}
                      </div>
                    </div>
                {%- endif -%}
                </div>
            {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
</div>
{% schema %}
{
  "name": "Format file",
  "class": "shopify-section--format-file",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "File Format Recommendations"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>The following is a long but useful list of common design software along with the file format(s) that we recommend for both Windows and Mac OS.</p>"
    }
  ],
  "blocks": [
    {
      "name": "Format file item",
      "type": "item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "3Ds Max"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Format file",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
