{%- render 'section-spacing-collapsing' -%}
{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div {% render 'section-properties' %}>
  <div class="section-stack {{ section.settings.custom_class }}">
    {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.title, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content, link_text: section.settings.link_text, link_url: section.settings.link_url -%}

    <div class="floating-controls-container">
      {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}

      <reveal-items id="{{ scroll_area_id }}" class="image-link-blocks image-link-blocks--grid">
        {%- for block in section.blocks -%}
          <div {% render 'surface', class: 'image-link-blocks__item group rounded', background: block.settings.background, text_color: block.settings.text_color %} {{ block.shopify_attributes }}>
            {%- if block.settings.stretch_image -%}
              {%- capture item_content -%}
                {%- if block.settings.image != blank -%}
                  {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 400px', widths: '200,300,400,500,600,700,800,900,1000,1200' -}}
                {%- else -%}
                  {{- 'image' | placeholder_svg_tag: 'zoom-image placeholder' -}}
                {%- endif -%}

                {%- if block.settings.link_text != blank -%}
                  <div class="place-self-center w-full semibold">
                    <div class="image-link-blocks__button h-stack justify-center gap-2">
                      {{ block.settings.link_text | escape }}
                      {%- render 'icon' with 'chevron-right-alt', direction_aware: true -%}
                    </div>
                  </div>
                {%- endif -%}
              {%- endcapture -%}

              <a {% if block.settings.link_url %}href="{{ block.settings.link_url }}"{% endif %} class="content-over-media rounded" style="--content-over-media-overlay: {{ block.settings.overlay_color.rgb }} / {{ block.settings.overlay_opacity | divided_by: 100.0 }}">
                {{- item_content -}}
              </a>
            {%- else -%}
              <a {% if block.settings.link_url != blank %}href="{{ block.settings.link_url }}"{% endif %} class="image-link-blocks__inner">
                {%- if block.settings.image != blank -%}
                  {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: loading: 'lazy', sizes: '(max-width: 699px) 400px', widths: '200,300,400,500,600,700,800,900,1000,1200', class: 'image-link-blocks__image' -}}
                {%- else -%}
                  {{- 'image' | placeholder_svg_tag: 'image-link-blocks__image placeholder' -}}
                {%- endif -%}

                {%- if block.settings.link_text != blank -%}
                  <p class="image-link-blocks__title animated-arrow-svg medium">
                    <span>
                      {{- block.settings.link_text | escape -}}
                      {%- if block.settings.link_text_extend != blank -%}
                        <span>{{ block.settings.link_text_extend | escape }}</span>
                      {%- endif -%}
                    </span>

                    <span class="circle-chevron">{%- render 'icon' with 'chevron-right-alt', direction_aware: true -%}</span>
                  </p>
                {%- endif -%}
              </a>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </reveal-items>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image link blocks",
  "class": "shopify-section--image-link-blocks",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "item",
      "name": "Link block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1200 x 1400px .jpg recommended"
        },
        {
          "type": "checkbox",
          "id": "stretch_image",
          "label": "Stretch to fill",
          "default": true
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "text",
          "id": "link_text_extend",
          "label": "Link text extend"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "header",
          "content": "Colors",
          "info": "Overlay is ignored when \"Stretch to fill\" is disabled."
        },
        {
          "type": "color",
          "id": "background",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 0
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": false
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom class"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "html",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    }
  ],
  "presets": [
    {
      "name": "Image link blocks",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}