{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
<div class="sm:container">
  <div class="customer-form">
    {%- if section.settings.image != blank -%}
      {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: '50vw', widths: '300,400,500,600,700,800,1000,1200,1400', class: 'customer-form__image rounded' -}}
    {%- endif -%}

    <div {% render 'surface', class: 'customer-form__box', background_gradient: section.settings.background_gradient, background: section.settings.background, text_color: section.settings.text_color, background_fallback: 'bg-secondary' %}>
      <account-login class="customer-form__box-inner text-center">
        <div id="login" class="v-stack gap-12">
          <div  class="tabs-container">
            {%- assign selectedIndex = '0' -%}
            <x-tabs selected-index="{{ selectedIndex }}" class="tabs-inner">
              <template shadowrootmode="open">
                <slot role="tablist" part="tab-list" name="title"></slot>
                <slot part="tab-panels" name="content"></slot>
              </template>

              <button type="button" slot="title" class="{{ title | escape }} tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>
                {%- assign login-content = 'customer.login.title' | t -%}
                {%- render 'styled-text', content: login-content, gradient: section.settings.heading_gradient -%}
              </button>
              {%- assign formLoginId = 'LoginForm' -%}
              <div role="tabpanel" class="tab-content" id="tab-{{ formLoginId }}" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
                <div class="login-content" >
                  {%- form 'customer_login', class: 'form account-form', id: formLoginId  -%}
                    <input type="hidden" name="checkout_url" value="{{ routes.account_register_url  }}">

                    <div class="fieldset">
                      {%- if form.errors -%}
                        {% unless form.errors.messages['form'] contains 'associated' %}
                          {%- render 'banner', status: 'error', content: form.errors.messages['form'] -%}
                        {% endunless %}
                      {%- endif -%}

                      {%- assign email_label = 'customer.login.email' | t -%}
                      <div class="form-control">
                        <label for="{{ formId }}-email" class="form-label">{{ email_label }}</label>
                        <input type="email" class="input" name="customer[email]" id="{{ formId }}-email" {% if form.email %}value="{{ form.email }}"{% endif %} autocomplete="email" required>
                      </div>

                      {%- assign password_label = 'customer.login.password' | t -%}
                      <div class="form-control">
                        <label for="{{ formId }}-email" class="form-label">{{ password_label }}</label>
                        <input type="password" class="input" name="customer[email]" id="{{ formId }}-password" {% if form.password %}value="{{ form.password }}"{% endif %} autocomplete="current-password" required>
                      </div>

                      <div class="fieldset-link justify-self-start">
                        <a href="#recover" class="link text-sm text-subdued">{{ 'customer.login.forgot_password' | t }}</a>
                      </div>
                    </div>

                    {%- assign submit_label = 'customer.login.submit' | t -%}
                    {%- render 'button', content: submit_label, type: 'submit', size: 'xl', stretch: true, secondary: true, background: section.settings.button_background, text_color: section.settings.button_text_color -%}

                    <div>
                      <a href="{{ routes.account_register_url }}" class="link text-subdued">{{ 'customer.login.sign_up' | t }}</a>
                    </div>
                  {%- endform -%}
                </div>
              </div>

              <button type="button" slot="title" class="{{ title | escape }} tabs-nav__button bold text-subdued text-center" {{ block.shopify_attributes }}>
                {%- assign register-content = 'customer.register.title' | t -%}
                {%- render 'styled-text', content: register-content, gradient: section.settings.heading_gradient -%}
              </button>
              {%- assign formId = 'RegisterForm' -%}
              <div role="tabpanel" class="tab-content" id="tab-{{ formId}}" slot="content" {% cycle '', 'hidden', 'hidden', 'hidden', 'hidden' %}>
                <div class="register-content" >
                  {%- form 'create_customer', class: 'form account-form register-form', id: formId -%}
                    <input type="hidden" name="return_to" value="{{ block.settings.return_to | default: routes.account_url }}">
    
                    <div id="output"></div>
    
                    <div class="fieldset">
                      {%- if form.errors -%}
                        {% unless form.errors.messages['form'] contains 'invalid' %}
                          {%- assign form_errors = form.errors | default_errors -%}
                        {%- render 'banner', status: 'error', content: form_errors -%}
                        {% endunless %}
                      {%- endif -%}
    
                      {%- if request.locale.iso_code == 'ja' -%}
                        {%- assign last_name_label = 'customer.register.last_name' | t -%}
                        <div class="form-control">
                          <label for="{{ formId }}-LastName" class="form-label">{{ last_name_label }}</label>
                          <input type="text" class="input" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">
                        </div>
    
                        {%- assign first_name_label = 'customer.register.first_name' | t -%}
                        <div class="form-control">
                          <label for="{{ formId }}-FirstName" class="form-label">{{ first_name_label }}</label>
                          <input type="text" class="input" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
                        </div>
                      {%- else -%}
    
                        {%- assign first_name_label = 'customer.register.first_name' | t -%}
                        <div class="form-control">
                          <label for="{{ formId }}-FirstName" class="form-label">{{ first_name_label }}</label>
                          <input type="text" class="input" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
                        </div>
    
                        {%- assign last_name_label = 'customer.register.last_name' | t -%}
                        <div class="form-control">
                          <label for="{{ formId }}-LastName" class="form-label">{{ last_name_label }}</label>
                          <input type="text" class="input" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">
                        </div>
                      {%- endif -%}
    
                      {%- assign email_label = 'customer.register.email' | t -%}
                      <div class="form-control">
                        <label for="{{ formId }}-email" class="form-label">{{ email_label }}<em>*</em></label>
                          <input
                              type="email"
                              class="input" name="customer[email]"
                              id="{{ formId }}-email"
                              class="{% if form.errors contains 'email' %} input--error{% endif %}"
                              {% if form.email %} value="{{ form.email }}"{% endif %}
                              autocapitalize="off"
                              autocomplete="email"
                              aria-required="true"
                              required
                              {%- if form.errors contains 'email' -%}
                                  class="input--error"
                                  aria-invalid="true"
                                  aria-describedby="{{ formId }}-email-error"
                              {%- endif -%}
                          >
                          {%- if form.errors contains 'email' -%}
                            <span id="{{ formId }}-email-error" class="input-error-message">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                          {%- endif -%}
                      </div>
                      
                      {%- assign vat_label = 'customer.register.vat' | t -%}
                      <div class="form-control">
                        <label for="{{ formId }}-vat-number" class="form-label">
                          {{ vat_label }}
                        </label>
                        <input
                          class="input" name="customer[customer_hub][vat]"
                          id="{{ formId }}-vat-number"
                          spellcheck="false"
                          autocapitalize="off"
                          aria-required="true"
                        >
                      </div>
    
                      {%- assign password_label = 'customer.register.password' | t -%}
                      <div class="form-control">
                        <label for="{{ formId }}-password" class="form-label">{{ password_label }}<em>*</em></label>
                          <input
                              type="password"
                              class="input" name="customer[password]"
                              id="{{ formId }}-password"
                              class="{% if form.errors contains 'password' %} input--error{% endif %}"
                              aria-required="true"
                              required
                              {%- if form.errors contains 'password' -%}
                                  class="input--error"
                                  aria-invalid="true"
                                  aria-describedby="{{ formId }}-password-error"
                              {%- endif -%}
                          >
                          {%- if form.errors contains 'password' -%}
                              <span id="{{ formId}}-password-error" class="input-error-message">
                                {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
                              </span>
                          {%- endif -%}
                      </div>
    
                      {%- assign confirm_password_label = 'customer.register.confirm_password' | t -%}
                      <div class="form-control">
                        <label for="{{ formId }}-password" class="form-label">{{ confirm_password_label }}<em>*</em></label>
                          <input
                              type="password"
                              class="input" name="customer[note][confirm-password]"
                              id="{{ formId }}-confirm-password"
                              class="{% if form.errors contains 'confirm-password' %} input--error{% endif %}"
                              aria-required="true"
                              required
                              {%- if form.errors contains 'password' -%}
                                  class="input--error"
                                  aria-invalid="true"
                                  aria-describedby="{{ formId }}-confirm-password-error"
                              {%- endif -%}
                          >
                          {%- if form.errors contains 'confirm-password' -%}
                              <span id="{{ formId}}-confirm-password-error" class="input-error-message">
                                {{ form.errors.translated_fields['confirm-password'] | capitalize }} {{ form.errors.messages['password'] }}.
                              </span>
                          {%- endif -%}
                      </div>
    
                      {%- if block.settings.show_email_consent -%}
                        {%- assign consent_label = 'customer.register.accepts_marketing' | t -%}
                        {%- render 'checkbox', name: 'customer[accepts_marketing]', label: consent_label -%}
                      {%- endif -%}
                    </div>
    
                    {%- assign submit_label = 'customer.register.submit' | t -%}
                    <button type="submit" class="button" id="register-button"><div>{{ submit_label }}</div>
                      <span class="button__loader"></span>
                    </button>
                  {%- endform -%}
                </div>
              </div>
            </x-tabs>
          </div>
        </div>

        <div id="recover" class="v-stack gap-12" hidden>
          <h1 class="h2">
            {%- assign content = 'customer.recover_password.title' | t -%}
            {%- render 'styled-text', content: content, gradient: section.settings.heading_gradient -%}
          </h1>

          {%- form 'recover_customer_password', class: 'form' -%}
            <div class="fieldset">
              {%- if form.errors -%}
                {%- render 'banner', status: 'error', content: form.errors.messages['form'] -%}
              {%- endif -%}

              {%- if form.posted_successfully? -%}
                {%- assign success_message = 'customer.recover_password.success_message' | t -%}
                {%- render 'banner', status: 'success', content: success_message -%}
              {%- else -%}
                {%- assign email_label = 'customer.recover_password.email' | t -%}
                {%- render 'input', type: 'email', name: 'email', label: email_label, autocomplete: 'email', required: true -%}
              {%- endif -%}
            </div>

            {%- unless form.posted_successfully? -%}
              {%- assign submit_label = 'customer.recover_password.submit' | t -%}
              {%- render 'button', content: submit_label, type: 'submit', size: 'xl', stretch: true, secondary: true, background: section.settings.button_background, text_color: section.settings.button_text_color -%}
            {%- endunless -%}

            <div>
              <a href="#login" class="link text-subdued">{{ 'customer.recover_password.back_to_login' | t }}</a>
            </div>
          {%- endform -%}
        </div>

      </account-login>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer login",
  "class": "shopify-section--main-customers-login",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1400 x 1400px .jpg recommended. Does not show on mobile."
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "fields",
      "name": "Fields",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "return_to",
          "label": "Redirect upon login",
          "info": "Default to customer account page."
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid"
        }
      ]
    }
  ]
}
{% endschema %}