<div class="container order" data-download="https://transactions.sendowl.com/orders/shopify_return/153044?order_id={{ order.id }}&email={{ order.email }}{% if order.metafields.dda.sendowl_order_id %}&sendowl_order_id={{ order.metafields.dda.sendowl_order_id }}{% endif %}">
  <div class="page-spacer">
    <div class="account">
      <div class="account-header account-header--back">
        <a href="{{ routes.account_url }}" class="back-button justify-self-start">
          {%- render 'icon' with 'chevron-left' -%}
          {{- 'customer.order.back' | t -}}
        </a>

        <div class="v-stack gap-2">
          <h1 class="h3">{{ 'customer.order.order_name' | t: name: order.name }}</h1>
          <p>{{ order.created_at | date: format: 'date_at_time' }}</p>
        </div>
      </div>

      <div class="order">
        <div class="v-stack gap-6">
          {%- comment -%}
          ----------------------------------------------------------------------------------------------------------------
          ORDER STATUS
          ----------------------------------------------------------------------------------------------------------------
          {%- endcomment -%}

          {%- if order.cancelled -%}
            {%- assign cancelled_on = order.cancelled_at | date: format: 'date_at_time' -%}
            {%- assign cancel_message = 'customer.order.cancelled_on' | t: date: cancelled_on, reason: order.cancel_reason_label -%}
            {%- render 'banner', status: 'error', content: cancel_message, text_alignment: 'left' -%}
          {%- endif -%}

          {%- assign fulfillment = order.line_items | where: 'fulfillment' | map: 'fulfillment' | sort: 'created_at' | last -%}

          {%- if order.shipping_address and fulfillment -%}
            {%- assign created_at = fulfillment.created_at | date: format: 'date' -%}

            {%- if fulfillment.tracking_number -%}
              {%- assign fulfillment_message = 'customer.order.fulfillment_with_number' | t: date: created_at, tracking_number: fulfillment.tracking_number -%}
            {%- else -%}
              {%- assign fulfillment_message = 'customer.order.fulfillment' | t: date: created_at -%}
            {%- endif -%}

            {%- if fulfillment.tracking_url -%}
              {%- assign button_content = 'customer.order.track_shipment' | t -%}
              {%- render 'banner', status: 'success', content: fulfillment_message, button_href: fulfillment.tracking_url, button_content: button_content, text_alignment: 'left' -%}
            {%- else -%}
              {%- render 'banner', status: 'success', content: fulfillment_message, text_alignment: 'left' -%}
            {%- endif -%}
          {%- endif -%}

          {%- comment -%}
          ----------------------------------------------------------------------------------------------------------------
          ORDER SUMMARY
          ----------------------------------------------------------------------------------------------------------------
          {%- endcomment -%}
          <table class="order-summary">
            <thead class="order-summary__header">
              <tr>
                <th>{{ 'customer.order.product' | t }}</th>
                <th class="w-0">{{ 'customer.order.quantity' | t }}</th>
                <th class="text-end">{{ 'customer.order.total' | t }}</th>
              </tr>
            </thead>

            <tbody class="order-summary__body">
              {%- for line_item in order.line_items -%}
                {% assign productTags = line_item.product.tags | join: ', ' %}
                {% if productTags contains 'Low Poly' %}
                  {% assign productTags = 'Low Poly' %}
                {% elsif productTags contains 'High Poly' %}
                  {% assign productTags = 'High Poly' %}
                {% elsif productTags contains '2D Images' %}
                  {% assign productTags = '2D Images' %}
                {% else %}
                  {% assign productTags = 'High Poly' %}
                {% endif %}
                <tr id="{{ line_item.id }}" data-sku="{{ line_item.sku }}" data-poly="{{ productTags }}">
                  <td>{%- render 'line-item', line_item: line_item -%}

                  {% comment %} Show download link of line items {% endcomment %}
                  {%- if line_item.fulfillment -%}
                    <div class="note">
                        <div>
                            {%- if line_item.fulfillment.tracking_url -%}
                                <a href="{{ line_item.fulfillment.tracking_url }}">
                                    {{ 'customer.order.track_shipment' | t }}
                                </a>
                            {%- endif -%}
                          {% if line_item.variant.metafields.dda.digital or order.metafields.dda.sendowl_order_id %}(<a href="https://transactions.sendowl.com/orders/shopify_return/153044?order_id={{ order.id }}&email={{ order.email }}{% if order.metafields.dda.sendowl_order_id %}&sendowl_order_id={{ order.metafields.dda.sendowl_order_id }}{% endif %}">download models</a>){% endif %}
                            <div>
                                {{ line_item.fulfillment.tracking_company }}
                                {%- if line_item.fulfillment.tracking_number -%} #{{ line_item.fulfillment.tracking_number }} {%- endif -%}
                            </div>
                        </div>
                    </div>
                  {%- endif -%}
                  {% comment %} End show download link of line items {% endcomment %}
                  
                  </td>
                  <td class="hidden align-center text-center text-subdued sm:table-cell">{{ line_item.quantity }}</td>
                  <td class="hidden align-center text-subdued text-end sm:table-cell">{{ line_item.final_line_price | money }}</td>
                </tr>
              {%- endfor -%}
            </tbody>

            <tfoot>
              <tr>
                <td class="hidden sm:table-cell"></td>

                <td colspan="2">
                  <div class="v-stack gap-2 text-start">
                    <div class="h-stack gap-4 justify-between">
                      <span>{{ 'customer.order.subtotal' | t }}</span>
                      <span>{{ order.line_items_subtotal_price | money }}</span>
                    </div>

                    {%- for discount_application in order.cart_level_discount_applications -%}
                      <div class="h-stack gap-4 justify-between">
                        <span>{{ 'customer.order.discount' | t }} ({{ discount_application.title }})</span>
                        <span>-{{ discount_application.total_allocated_amount | money }}</span>
                      </div>
                    {%- endfor -%}

                    {%- for shipping_method in order.shipping_methods -%}
                      <div class="h-stack gap-4 justify-between">
                        <span>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</span>
                        <span>{{ shipping_method.price | money }}</span>
                      </div>
                    {%- endfor -%}

                    {%- for tax_line in order.tax_lines -%}
                      <div class="h-stack gap-4 justify-between">
                        {%- if cart.taxes_included -%}
                          <span>{{ 'customer.order.taxes_included' | t }} ({{ tax_line.title }} {{ tax_line.rate_percentage }}%)</span>
                        {%- else -%}
                          <span>{{ 'customer.order.taxes_excluded' | t }} ({{ tax_line.title }} {{ tax_line.rate_percentage }}%)</span>
                        {%- endif -%}

                        <span>{{ tax_line.price | money }}</span>
                      </div>
                    {%- endfor -%}

                    {%- if order.total_duties > 0 -%}
                      <div class="h-stack gap-4 justify-between">
                        <span>{{ 'customer.order.total_duties' | t }}</span>
                        <span>{{ order.total_duties | money }}</span>
                      </div>
                    {%- endif -%}

                    {%- if order.total_refunded_amount > 0 -%}
                      <div class="h-stack gap-4 justify-between">
                        <span>{{ 'customer.order.refunded_amount' | t }}</span>
                        <span>{{ order.total_refunded_amount | money }}</span>
                      </div>
                    {%- endif -%}

                    <div class="h-stack gap-4 justify-between">
                      <span class="h6">{{ 'customer.order.total' | t }}</span>
                      <span class="h6">{{ order.total_net_amount | money_with_currency }}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>

        {%- if order.billing_address or order.shipping_address -%}
          <div class="order-addresses-list">
            {%- if order.billing_address -%}
              <div class="address gap-4 rounded-sm">
                <div class="text-with-icon">
                  {%- render 'icon' with 'picto-file' -%}
                  <p class="bold">{{ 'customer.order.billing_address' | t }}</p>
                </div>
                {% comment %}
                {{- order.billing_address | format_address -}}
                {% endcomment %}

                  <div class="customer-billing-address customer-billing-address-{{ order.billing_address.id }}">
                    <p class="name">{{ order.billing_address.first_name }} {{ order.billing_address.last_name }}</p>
                    <p class="address">{{ order.billing_address.address1 }}{% if order.billing_address.address2 != blank %}, {{ order.billing_address.address2 }}{% endif %}{% if order.billing_address.city != blank %}, {{ order.billing_address.city }}{% endif %}{% if order.billing_address.province != blank %}, {{ order.billing_address.province }}{% endif %}{% if order.billing_address.zip != blank %}, {{ order.billing_address.zip }}{% endif %}
                    </p>
                    {% if customer.email != blank %}
                    <p class="email">{{ customer.email }}</p>
                    {% endif %}
                    {% if order.billing_address.company != blank %}
                    <p class="company">{{ order.billing_address.company }}</p>
                    {% endif %}
                    {% if order.billing_address.phone != blank %}
                    <p class="phone">{{ order.billing_address.phone }}</p>
                    {% endif %}
                    {% if customer.metafields.customer_hub.vat != blank %}
                    <p class="vat">{{ customer.metafields.customer_hub.vat }}</p>
                    {% endif %}
                  </div>

              </div>
            {%- endif -%}

            {%- if order.shipping_address -%}
              <div class="address gap-4 rounded-sm">
                <div class="text-with-icon">
                  {%- render 'icon' with 'picto-box' -%}
                  <p class="bold">{{ 'customer.order.shipping_address' | t }}</p>
                </div>
                {% comment %}
                {{- order.shipping_address | format_address -}}
                {% endcomment %}


                  <div class="customer-shipping-address customer-shipping-address-{{ order.shipping_address.id }}">
                    <p class="name">{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</p>
                    <p class="address">{{ order.shipping_address.address1 }}{% if order.shipping_address.address2 != blank %}, {{ order.shipping_address.address2 }}{% endif %}{% if order.shipping_address.city != blank %}, {{ order.shipping_address.city }}{% endif %}{% if order.shipping_address.province != blank %}, {{ order.shipping_address.province }}{% endif %}{% if order.shipping_address.zip != blank %}, {{ order.shipping_address.zip }}{% endif %}
                    </p>
                    {% if customer.email != blank %}
                    <p class="email">{{ customer.email }}</p>
                    {% endif %}
                    {% if order.shipping_address.company != blank %}
                    <p class="company">{{ order.shipping_address.company }}</p>
                    {% endif %}
                    {% if order.shipping_address.phone != blank %}
                    <p class="phone">{{ order.shipping_address.phone }}</p>
                    {% endif %}
                    {% if customer.metafields.customer_hub.vat != blank %}
                    <p class="vat">{{ customer.metafields.customer_hub.vat }}</p>
                    {% endif %}
                  </div>

              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
<script>
  window.billingAddress = '{{ order.billing_address | json }}';
</script>

<style>
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.unreal-engine-lumen {
  background-image: url('{{ 'UNREAL.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.hdri-all-formats {
  background-image: url('{{ 'HDRI.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.redshift {
  background-image: url('{{ 'redshift.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.fbx--obj {
  background-image: url('{{ 'FBX.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.mesh--growfx {
  background-image: url('{{ 'Growfx.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.rhinoceros-d-v-ray--rhino-renderer-only {
  background-image: url('{{ 'RHINOCEROS.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.cinema-d-v-ray--corona {
  background-image: url('{{ 'cinema4d.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.blender-cycles {
  background-image: url('{{ 'Blender.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.twinmotion {
  background-image: url('{{ 'TWINMOTION.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.twinmotion-low-poly {
  background-image: url('{{ 'TWINMOTION.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.enscape-revit-sketchup-rhinod-vectorworks-archicad {
  background-image: url('{{ 'ENSCAPE-Revit.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.sketchup-v-ray--thea--enscape {
  background-image: url('{{ 'Sketchup.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.sketchup-v-ray--full-geometry-skp-mesh {
  background-image: url('{{ 'Sketchup.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.sketchup-vray--full-geometry-mesh {
  background-image: url('{{ 'Sketchup.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.fbx-low-poly {
  background-image: url('{{ 'FBX-low.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.fbx {
  background-image: url('{{ 'FBX.png' | asset_url }}');
}
#CustomerHubApp.customerHub .chContent .chContent-Wrapper .chContent-Body .chContent-Body-Page .chContent-Body-Page-General.chContent-Body-Page-Order .chContent-Body-Page-Content-Wrapper .chContent-BPCW-Order--Details .chfl-x .chContent-BPCW-Order--Details-Products .chContent-BPCW-Order--Details-Product .chProductFormat span.ds-max-v-ray--corona {
  background-image: url('{{ '3DsMax.png' | asset_url }}');
}
</style>


{% schema %}
{
  "name": "Customer order",
  "class": "shopify-section--main-customers-order",
  "tag": "section"
}
{% endschema %}