
<div class="container account">
  {%- if customer.orders.size == 0 -%}
    <div class="empty-state">
      <div class="empty-state__icon-wrapper">
        {%- render 'icon' with 'picto-box', width: 32, height: 32, stroke_width: 1 -%}
        <span class="count-bubble count-bubble--lg">0</span>
      </div>

      <div class="prose">
        <p class="h6">{{ 'customer.account.no_orders' | t }}</p>

        {%- assign button_content = 'customer.account.continue_shopping' | t -%}
        {%- render 'button', href: routes.all_products_collection_url, size: 'xl', content: button_content -%}
      </div>
    </div>
  {%- else -%}
    <div class="page-spacer">
      <div class="account">
        <div class="account-header">
          <div class="text-with-bubble justify-self-center">
            <h1 class="h3">{{ 'customer.account.orders' | t }}</h1>
            <span class="count-bubble count-bubble--lg">{{ customer.orders.size }}</span>
          </div>
        </div>

        {%- paginate customer.orders by 16 -%}
          <div class="account__block-list">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'liquid' -%}
                  {%- if block.settings.liquid != blank -%}
                    <div {{ block.shopify_attributes }}>
                      {{ block.settings.liquid }}
                    </div>
                  {%- endif -%}

                {%- when 'orders' -%}
                  <div class="v-stack gap-5" {{ block.shopify_attributes }}>
                    <div class="order-grid-list">
                      {%- for order in customer.orders -%}
                        <div class="order-grid-item rounded-sm">
                          <p class="h5">{{ 'customer.order.order_name' | t: name: order.name }}</p>

                          <div class="order-grid-item__categories">
                            <div class="v-stack gap-1">
                              <p class="bold">{{ 'customer.order.date' | t }}</p>
                              <p class="text-subdued">{{ order.created_at | date: format: 'date' }}</p>
                            </div>

                            <div class="v-stack gap-1">
                              <p class="bold">{{ 'customer.order.fulfillment_status' | t }}</p>
                              <p class="text-subdued">{{ order.financial_status_label }}</p>
                            </div>

                            <div class="v-stack gap-1">
                              <p class="bold">{{ 'customer.order.payment_status' | t }}</p>
                              <p class="text-subdued">{{ order.fulfillment_status_label }}</p>
                            </div>

                            <div class="v-stack gap-1">
                              <p class="bold">{{ 'customer.order.total' | t }}</p>
                              <p class="text-subdued">{{ order.total_net_amount | money }}</p>
                            </div>
                          </div>

                          {%- capture button_label -%}{{ 'customer.order.view_details' | t }}{%- endcapture -%}
                          {%- render 'button', href: order.customer_url, content: button_label, secondary: true, stretch: true -%}
                        </div>
                      {%- endfor -%}
                    </div>

                    <table class="order-table-list">
                      <thead>
                        <tr>
                          <th>{{ 'customer.order.order' | t }}</th>
                          <th>{{ 'customer.order.date' | t }}</th>
                          <th>{{ 'customer.order.payment_status' | t }}</th>
                          <th>{{ 'customer.order.fulfillment_status' | t }}</th>
                          <th class="text-end">{{ 'customer.order.total' | t }}</th>
                        </tr>
                      </thead>

                      <tbody>
                        {%- for order in customer.orders -%}
                          <tr class="table-row-hover" id="{{ order.order_name|remove: "#" }}" data-download="https://transactions.sendowl.com/orders/shopify_return/153044?order_id={{ order.id }}&email={{ order.email }}{% if order.metafields.dda.sendowl_order_id %}&sendowl_order_id={{ order.metafields.dda.sendowl_order_id }}{% endif %}">
                            <td class="bold">{{ order.name }}</td>
                            <td class="text-subdued">{{ order.created_at | date: format: 'date' }}</td>
                            <td class="text-subdued">{{ order.financial_status_label }}</td>
                            <td class="text-subdued">{{ order.fulfillment_status_label }}</td>
                            <td class="text-subdued text-end">{{ order.total_net_amount | money }}</td>
                          </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>

                    {%- render 'pagination', paginate: paginate -%}
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        {%- endpaginate -%}
      </div>
    </div>
  {%- endif -%}
</div>
{% assign bought_products = ',' %}
{% assign bought_tags = ',' %}
{%- for order in customer.orders -%}
  {%- for line_item in order.line_items -%}
    {% assign bought_products = bought_products | append: line_item.product_id | append: ',' %}
    {% assign bought_tags = bought_tags | append: line_item.product.tags | append: ',' %}
  {%- endfor -%}
{%- endfor -%}
{% assign bought_tags = bought_tags | replace: '[', '' | replace: ']', '' %}

{% assign poly_first = '' %}
{% assign poly_second = '' %}
{% assign collection_first = '' %}
{% assign collection_second = '' %}
{% assign collection_third = '2d-images' %}
{% assign bought_region = '' %}

{% if bought_tags contains 'High Poly' %}
  {% assign poly_first = 'High Poly' %}
  {% assign collection_first = 'realistic-3d-plants-high-poly' %}
  {% if bought_tags contains 'Low Poly' %}
    {% assign poly_second = 'Low Poly' %}
    {% assign collection_second = 'low-poly' %}
  {% else %}
    {% assign poly_second = '2D Images' %}
    {% assign collection_second = '2d-images' %}
  {% endif %}
{% else %}
  {% assign poly_first = 'Low Poly' %}
  {% assign poly_second = '2D Images' %}
  {% assign collection_first = 'low-poly' %}
  {% assign collection_second = '2d-images' %}
{% endif %}

{% if bought_tags contains 'America' %}
  {% assign bought_region = bought_region | append: 'America' | append: ',' %}
{% endif %}
{% if bought_tags contains 'Africa' %}
  {% assign bought_region = bought_region | append: 'Africa' | append: ',' %}
{% endif %}
{% if bought_tags contains 'Asia' %}
  {% assign bought_region = bought_region | append: 'Asia' | append: ',' %}
{% endif %}
{% if bought_tags contains 'Oceania' %}
  {% assign bought_region = bought_region | append: 'Oceania' | append: ',' %}
{% endif %}
{% if bought_tags contains 'Europe' %}
  {% assign bought_region = bought_region | append: 'Europe' | append: ',' %}
{% endif %}
{% if bought_tags contains 'Middle East' %}
  {% assign bought_region = bought_region | append: 'Middle East' | append: ',' %}
{% endif %}

<div class="acount-upsell-container">
  {% assign counter = 0 %}
  <product-list class="product-list">
  {% paginate collections[collection_first].products by 500 %}
    {% assign products = collections[collection_first].products | sort: 'best-selling' %}
    {% for product in products %}   
      {% if bought_products contains product.id %}
        {% continue %}
      {% endif %}
      {% if counter < 4 and product.tags contains poly_first %}

        {% for tag in product.tags %}
          {% if bought_region contains tag %}
            {%- render 'product-card', product: product, stacked: true, background: "#ffffff", text_color: "#1a1a1a", show_badges: true -%}
            {% assign counter = counter | plus: 1 %}
            {% break %}
          {% endif %}
        {% endfor %}

      {% endif %}
      {% if counter >= 4 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endpaginate %}

  {% paginate collections[collection_second].products by 500 %}
    {% assign products = collections[collection_second].products | sort: 'best-selling' %}
    {% for product in products %}   
      {% if bought_products contains product.id %}
        {% continue %}
      {% endif %}
      {% if counter < 4 and product.tags contains poly_second %}
        
        {% for tag in product.tags %}
          {% if bought_region contains tag %}
            {%- render 'product-card', product: product, stacked: true, background: "#ffffff", text_color: "#1a1a1a", show_badges: true -%}
            {% assign counter = counter | plus: 1 %}
            {% break %}
          {% endif %}
        {% endfor %}

      {% endif %}
      {% if counter >= 4 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endpaginate %} 

  {% paginate collections[collection_third].products by 500 %}
    {% assign products = collections[collection_third].products | sort: 'best-selling' %}
    {% for product in products %}   
      {% if bought_products contains product.id %}
        {% continue %}
      {% endif %}
      {% if counter < 4 and product.tags %}
        
        {% for tag in product.tags %}
          {% if bought_region contains tag %}
            {%- render 'product-card', product: product, stacked: true, background: "#ffffff", text_color: "#1a1a1a", show_badges: true -%}
            {% assign counter = counter | plus: 1 %}
            {% break %}
          {% endif %}
        {% endfor %}

      {% endif %}
      {% if counter >= 4 %}
        {% break %}
      {% endif %}
    {% endfor %}
  {% endpaginate %}
  </product-list>
</div>

{% schema %}
{
  "name": "Customer account",
  "class": "shopify-section--main-customers-account",
  "tag": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid"
        }
      ]
    },
    {
      "type": "orders",
      "name": "Order list",
      "limit": 1
    }
  ]
}
{% endschema %}