<div class="section section-customers-login">
<div class="section-container">
  <div class="customer-form-wrapper">
    <div class="customer-form">
      <div class="customer-form__box">
        <account-login class="customer-form__box-inner text-center">
          <div id="recover" class="v-stack">
            <div class="recover-header">
              <h1 class="reset-password-title h2">
                {%- assign content = 'customer.reset_password.title' | t -%}
                {%- render 'styled-text', content: content, gradient: section.settings.heading_gradient -%}
              </h1>
              <div class="reset-password-content-subtitle">You're just one step away!<br>Enter a new password below to regain access to your account</div>
            </div>
            {%- assign formRecoverId = 'RecoverPasswordForm' -%}
            {%- form 'reset_customer_password', class: 'form password-recover-form' -%}
              <div class="fieldset">
                {%- if form.errors -%}
                  {%- assign form_errors = form.errors | default_errors -%}
                  {%- render 'banner', status: 'error', content: form_errors -%}
                {%- endif -%}
            
                <div class="form-control">
                  {%- assign password_label = 'customer.reset_password.password' | t -%}
                  <label for="{{ formRecoverId }}-password" class="form-label">{{ password_label }}<span class="required">*</span></label>
                  <input type="password" class="input" name="customer[password]" id="{{ formRecoverId }}-password" autocomplete="new-password" required placeholder="Enter new password">
                  <span class="form-control-error-status"></span>
                </div>
            
                <div class="form-control">
                  {%- assign password_confirmation_label = 'customer.reset_password.password_confirmation' | t -%}
                  <label for="{{ formRecoverId }}-email" class="form-label">{{ password_confirmation_label }}<span class="required">*</span></label>
                  <input type="password" class="input" name="customer[password_confirmation]" id="{{ formRecoverId }}-password_confirmation" autocomplete="new-password" required placeholder="Confirm new password">
                  <span class="form-control-error-status"></span>
                </div>

                
              </div>

              <div class="submit-wrapper">
                {%- assign submit_label = 'customer.reset_password.submit' | t -%}
                {%- render 'button', content: submit_label, type: 'submit', size: 'xl', stretch: true, secondary: false -%}
              </div>
            {%- endform -%}
          </div>
        </account-login>
      </div>
    </div>
  
    <div class="customer-image">
      <h1>My Account</h1>
      {%- if section.settings.image != blank -%}
        {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '300,400,500,600,700,800,1000,1200,1400', class: 'customer-form__image rounded' -}}
      {%- endif -%}
    </div>

  </div>
</div>
</div>

{% schema %}
{
  "name": "Customer reset password",
  "class": "shopify-section--main-customers-reset-password",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1400 x 1400px .jpg recommended. Does not show on mobile."
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "button_background",
      "label": "Button background"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "fields",
      "name": "Fields",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "return_to",
          "label": "Redirect upon login",
          "info": "Default to customer account page."
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "Liquid"
        }
      ]
    }
  ]
}
{% endschema %}